#slides{position:absolute;top:26px;}
.slides_container{width:640px;height:380px;overflow:hidden;padding-left:4px\9;_padding-left:1px;}
.prev{position:absolute;display:block;z-index:101;top:145px;background:url(../images/jt2.gif) no-repeat left top;width:20px;height:26px;}
.prev:hover{background:url(../images/jt2on.gif) no-repeat left top;}
.next{position:absolute;margin-left:636px;display:block;z-index:101;top:145px;background:url(../images/jt1.gif) no-repeat left top;width:20px;height:26px;}
.next:hover{background:url(../images/jt1on.gif) no-repeat left top;}.pagination{display:none;}
.tab_cerent{color:#205fa8;}.tab_no_cerent{color:#CCC;font-size:16px;}
