<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>石家庄威凤电子工程有限公司</title>
<meta name="keywords" content="安防，视频监控，电子警察，高速公路施工，高速路标识标牌生产">
<meta name="description" content="石家庄威凤电子工程有限公司－企业网站">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link href="http://www.weifengdianzi.com/" rel="canonical">
<link href="css/base.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/style_new_coney.css">
<link rel="stylesheet" type="text/css" href="css/index_ad_coney.css">
<link rel="stylesheet" type="text/css" href="css/index_jdnews_coney.css">
<link href="css/style_coney.css" rel="stylesheet" type="text/css">

<script src="js/index_coney.js" type="text/javascript"></script>
<script type="text/javascript" src="js/lang.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/page.js"></script>
<script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="js/slides.min.jquery.js"></script>
<script type="text/javascript" src="js/index_ad.js"></script>
<script src="js/jquery.lazyload.min.js"></script>
<script src="js/common1.js" language="javascript"></script>
<script type="text/javascript" src="js/img_loop.js"></script><!--专题轮播图JS-->
<script type="text/javascript" src="js/img_loop1.js"></script>
<script src="js/img_loop2.js" language="javascript"></script>