<ul>
    <li id='index'><a id='index_nav' href="http://www.weifengdianzi.com/" target="_self">首页</a></li>
    <li id='about'><a id='about_nav' href="http://www.weifengdianzi.com/about.html" target="_self">公司简介</a></li>
    <li id='project'><a id='project_nav' href="http://www.weifengdianzi.com/about.html" target="_self">项目案例</a></li>
    <li id='product'><a id='product_nav' href="http://www.weifengdianzi.com/about.html" target="_self">经营产品</a></li>
    <li id='zulin'><a id='zulin_nav' href="http://www.weifengdianzi.com/zulin.html" target="_self">工具租赁</a></li>
    <li id='invite'><a id='invite_nav' href="http://www.weifengdianzi.com/about.html" target="_self">招商引资</a></li>
    <li id='friend'><a id='friend_nav' href="http://www.weifengdianzi.com/about.html" target="_self">合作伙伴</a></li>
    <li id='zhaopin'><a id='zhaopin_nav' href="http://www.weifengdianzi.com/zhaopin.html" target="_self">人才招聘</a></li>
    <li id='contact'><a id='contact_nav' href="http://www.weifengdianzi.com/contact.html" target="_self">联系我们</a></li>
</ul>