<ul>
    <li id='index' class=""><a id='index_nav' class="" href="http://www.weifengdianzi.com/" target="_self">首页</a></li>
    <li id='about' class=""><a id='about_nav' class="" href="http://www.weifengdianzi.com/about.html" target="_self">公司简介</a></li>
    <li id='project' class=""><a id='project_nav' class="" href="http://www.weifengdianzi.com/about.html" target="_self">项目案例</a></li>
    <li id='product' class=""><a id='product_nav' class="" href="http://www.weifengdianzi.com/about.html" target="_self">经营产品</a></li>
    <li id='zulin' class=""><a id='zulin_nav' class="" href="http://www.weifengdianzi.com/zulin.html" target="_self">工具租赁</a></li>
    <li id='invite' class=""><a id='invite_nav' class="" href="http://www.weifengdianzi.com/about.html" target="_self">招商引资</a></li>
    <li id='friend' class=""><a id='friend_nav' class="" href="http://www.weifengdianzi.com/about.html" target="_self">合作伙伴</a></li>
    <li id='zhaopin' class=""><a id='zhaopin_nav' class="" href="http://www.weifengdianzi.com/zhaopin.html" target="_self">人才招聘</a></li>
    <li id='contact' class=""><a id='contact_nav' class="" href="http://www.weifengdianzi.com/contact.html" target="_self">联系我们</a></li>
</ul>