<div class="box_t">
  <div class="top_left"><i class="ihome"></i><a href="http://www.weifengdianzi.com/">返回首页</a></div>
  <div class="top_right">
    <div class="rt_box_a"></div>
     <div class="thread"></div>
      <div class="rt_box_e"><i class="phone"></i><a href="http://qy.58.com/28530310546182/" target="_blank" rel="nofollow">58店铺</a><span class="tjg_e"></span></div>
      <div class="thread"></div>
      <div class="rt_box_b"><i class="phone"></i><a href="http://sjz.ganji.com/fuwu_dian/2533104162x/" target="_blank" rel="nofollow">赶集店铺</a><span class="tjg"></span></div>
      <div class="thread"></div>
      <div class="rt_box_b"><i class="phone"></i><a href="https://shop514312406.taobao.com/shop/view_shop.htm" target="_blank" rel="nofollow">淘宝店铺</a><span class="tjg"></span></div>
      <div class="thread"></div>
      <div class="rt_box_a"><i class="zazi"></i><a href="http://weibo.com/weifengdianzi" target="_blank" rel="nofollow">微博</a></div>
      <div class="thread"></div>
      <div class="rt_box_d"><i class="huodong"></i><a href="https://pan.baidu.com/s/1rw-1eIYWhsEz9GvVOEOWnA" target="_blank" rel="nofollow">办公文件</a></div>
      <div class="thread"></div>
      <div class="rt_box_d"><i class="hd_g"></i><a href="Javascript:void(0);" rel="nofollow">网站导航</a><span class="tjg_b"></span>
        <div class="ewm_box_b">
         <b>商机频道</b>
         <div class="box_dh box_dh_x"><a href="http://www.tpy888.cn/">太平洋安防网</a><a href="http://www.hikvision.com/cn/index.html">海康威视</a><a href="http://www.c-ps.net/">中国安防网</a><a href="http://www.secu.hc360.com/">慧聪安防网</a></div>
         <b>创新频道</b>
         <div class="box_dh"><a href="http://home.mi.com/index.html">小米智能家居</a><a href="https://cloud.baidu.com/solution/iot/index.html">百度天工</a></div>
          <div class="xian_x_b"><i></i></div>
        </div>
      </div>
  </div>
</div>
